node-red-flow
[{"id":"30a3f23f.4817ee","type":"tab","label":"NTC thermistor","disabled":false,"info":""},{"id":"57e21c9c.b5d774","type":"mqtt in","z":"30a3f23f.4817ee","name":"","topic":"pi2nred/ads1115/+","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":190,"y":160,"wires":[["879aa50b.2b1248"]]},{"id":"879aa50b.2b1248","type":"function","z":"30a3f23f.4817ee","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nvar tags = {location:pTopic[0], device:pTopic[1]};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\nmsg.payload = [\n    fields,\n    tags\n];    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["36826813.1c1c18"]]},{"id":"ab16d593.848c28","type":"influxdb out","z":"30a3f23f.4817ee","influxdb":"3e3327aa.370598","name":"","measurement":"ntc","precision":"","retentionPolicy":"","database":"temp","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":880,"y":160,"wires":[]},{"id":"a1efeaad.591418","type":"debug","z":"30a3f23f.4817ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"127779df.25de96","type":"ui_gauge","z":"30a3f23f.4817ee","name":"ntc Temp","group":"32cf5623.ac71ca","order":1,"width":0,"height":0,"gtype":"gage","title":"ntc Temp","label":"C°","format":"{{value | number:1}}","min":"0","max":"50","colors":["#00ff11","#e6e600","#ff0000"],"seg1":"30","seg2":"35","x":800,"y":200,"wires":[]},{"id":"ea2fefc8.aa65e","type":"ui_chart","z":"30a3f23f.4817ee","name":"ntc Temp","group":"32cf5623.ac71ca","order":2,"width":0,"height":0,"label":"Temp (C°)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":240,"wires":[[]]},{"id":"36826813.1c1c18","type":"function","z":"30a3f23f.4817ee","name":"","func":"var voltage = msg.payload[0].a0f;\nvar R1=10000;\nvar Vcc=3.3;\nvar Bc=3950;\nvar Tnom=23;\nvar Rntc=10000;\nvar R2=voltage*R1/(Vcc-voltage);\nvar steinhart = R2 / Rntc;\nsteinhart = Math.log(steinhart);\nsteinhart /= Bc;\nsteinhart += 1 / (Tnom + 273.15);\nsteinhart = 1 / steinhart;\nsteinhart -= 273.15;\n\nmsg.payload = steinhart;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":160,"wires":[["a1efeaad.591418","ab16d593.848c28","127779df.25de96","ea2fefc8.aa65e"]]},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e3327aa.370598","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"rpimonitor","name":"","usetls":false,"tls":"5a1ed586.fc57cc","influxdbVersion":"1.8-flux","url":"http://localhost:8086/","rejectUnauthorized":true},{"id":"32cf5623.ac71ca","type":"ui_group","name":"ntc","tab":"41aed7c9.31eb68","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a1ed586.fc57cc","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"41aed7c9.31eb68","type":"ui_tab","name":"Temp","icon":"dashboard","order":12,"disabled":false,"hidden":false}]